@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");

header {
  background-color: var(--black);
  color: var(--white);

  height: 300px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 2px;
  word-spacing: 4px;
  font-family: "Playfair Display", serif;
}

.logo:hover {
  color: gray;
  cursor: pointer;
}

.logo:active {
  font-size: 5rem;
}

main {
  background-color: var(--red);
  height: 100%;
  width: 100%;
}

footer {
  background-color: var(--red);
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Gugi", sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 20px;
}

.searchContainer {
  padding: 0px 6% 40px 0px;
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: var(--black);
}

#searchInput {
  padding: 3px 3px 3px 10px;
  height: 35px;
  width: 300px;
  font-size: 17px;
  font-family: "Gugi", sans-serif;
  letter-spacing: 2px;
  word-spacing: 4px;
  outline: none;
  border-radius: 5px;
}

#searchBtn {
  padding: 0.6%;
  margin-left: 20px;
  font-size: 18px;
  font-family: "Gugi", sans-serif;
  letter-spacing: 4px;
  border-radius: 10px;
  background-color: var(--red);
  color: var(--white);
  height: 46px;
  width: 70px;
}

#searchBtn:hover {
  font-size: 19px;
}

/* 탭박스 css */
.tabBox {
  margin: auto;
  margin-top: 3%;
  width: 90%;
}

.navBox {
  margin: auto;
  margin-top: 5%;
  background-color: black;
  width: 40%;
  height: 60px;
  border: none;
  border-radius: 20px;
}

#tabButtonNav {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 400px;
  border-radius: 20px;
}

.tabButton {
  background-color: black;
  width: 150px;
  height: 40px;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.tabButton:hover {
  color: antiquewhite;
  font-weight: 800;
}
.tabButton:active {
  color: gray;
  background-color: white;
  border-radius: 10px;
}

.tabPage {
  margin: 0px;
  background-color: white;
  width: 100%;
  height: 400px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow-x: scroll;
}

.cardsWrap {
  background-color: var(--black);
  width: 94%;
  height: 100%;
  margin: 3% auto 0% auto;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 500px;
}

.card {
  background-color: var(--white);
  width: 19.3%;
  min-width: 300px;
  height: 750px;
  margin: 1%;
  padding: 1%;
  border: 1px solid;
  border-radius: 10px;
  font-family: "Gowun Batang", serif;
  font-size: 17px;
  font-weight: 700;
}

img {
  max-width: 350px;
  max-height: 450px;
  min-width: 300px;
  min-height: 450px;
  object-fit: cover;
}
.poster {
  height: fit-content;
  width: 100%;
  background-size: cover;
}

.comment {
  margin-top: 90%;
  font-size: 17px;
}

.title {
  font-size: 25px;
}

.searchNone {
  height: 300px;
  color: var(--white);
  display: flex;
  align-items: center;
  font-size: 30px;

  font-family: "Gugi", sans-serif;
  letter-spacing: 2px;
  word-spacing: 4px;
}

#moreWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#more,
.more {
  background-color: var(--red);
  color: var(--white);
  border-radius: 10px;

  padding: 0.8%;
  margin-top: 20px;
  font-size: 18px;
  font-family: "Gugi", sans-serif;
  letter-spacing: 4px;
}

.hide {
  display: none;
}

.noResult {
  color: var(--white);
  font-weight: bolder;
  letter-spacing: 4px;
  word-spacing: 4px;
  font-size: 40px;
  font-family: "Gugi", sans-serif;
}

.slideTitle {
  color: var(--white);
  font-size: 25px;
  margin-left: 4%;
}

.logo {
  cursor: pointer;
}
